* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.top {
  height: 1024px;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.product-content__item--1 {
  background-image: url(img/img1.svg);
  border-radius: 16px;
}

.product-content__item--2 {
  background-image: url(img/img2.svg);
  border-radius: 16px;
}

.product-content__item--3 {
  background-image: url(img/img3.svg);
  border-radius: 16px;
}

.product-content__item {
  grid-column: span 4;
  height: 300px;
  padding-left: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  box-sizing: border-box;
}

.product-content__item:hover {
  border: 3px solid #44D2FF;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.product-box {
  height: 556px;
  background: #000915;
}

.content-box {
  padding-top: 238px;
}

.content-box__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  width: 760px;
}

.content-box__article {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  padding-top: 32px;
  width: 481px;
}

.content-box__button {
  margin-top: 44px;
  width: 234.06px;
  height: 48.6px;
  background: #9c0332;
  border: transparent;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
}

.content-box__button:hover {
  background: #EB443F;
  cursor: url(/img/cursor.svg), auto;
}

.games {
  background: #000915;
  height: 800px;
  display: flex;
  align-items: center;
  gap: 135px;
  flex-wrap: nowrap;
}
.games__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}
.games__article {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.games__button {
  width: 234.06px;
  height: 48.6px;
  background: #9c0332;
  border: transparent;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
}
.games__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.games__button:hover {
  background: #EB443F;
  cursor: url(/img/cursor.svg), auto;
}

@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
  .top {
    height: 735px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .product-content__item--1 {
    background-image: url(img/img1.svg);
    border-radius: 16px;
  }
  .product-content__item--2 {
    background-image: url(img/img2.svg);
    border-radius: 16px;
  }
  .product-content__item--3 {
    background-image: url(img/img3.svg);
    border-radius: 16px;
  }
  .product-content__item {
    grid-column: span 4;
    height: 300px;
    padding-left: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    box-sizing: border-box;
  }
  .product-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .product-box {
    height: 1221px;
    background: #000915;
  }
  .content-box {
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-box__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    width: 343px;
    text-align: center;
  }
  .content-box__article {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    padding-top: 33px;
    width: 343px;
    text-align: center;
  }
  .content-box__button {
    margin-top: 32px;
    width: 234.06px;
    height: 48.6px;
    background: #9c0332;
    border: transparent;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .games {
    background: #000915;
    height: 653px;
    display: flex;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;
  }
  .games__mobile {
    flex-direction: column-reverse;
    align-content: center;
    display: flex;
    flex-wrap: nowrap;
  }
  .games__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    text-align: center;
  }
  .games__article {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
  }
  .games__button {
    width: 234.06px;
    height: 48.6px;
    background: #9c0332;
    border: transparent;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
  }
  .games__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding-top: 55px;
  }
  .games__icon--mob {
    width: 100%;
    padding-bottom: 85px;
  }
}/*# sourceMappingURL=style.css.map */